
@model Tasheel.BLL.Models.StudentVM
@{
    ViewBag.Title = "Create";

}

<br />
<br />
<p>@TempData["Message"]</p>
<p>@TempData["ErrorMsg"]</p>

<br />
<br />

<form asp-controller="Student" asp-action="Create">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        إضافة طالب جديد
                    </h2>

                </div>
                <div class="body">

                    <div class="row clearfix">
                        <div class="col-md-4">
                            <label asp-for="FullName">الاسم الرباعي</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">person</i>
                                </span>
                                <div class="form-line">
                                    <input type="text" asp-for="FullName" class="form-control" placeholder="ادخل الاسم الرباعي">
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="Birthday"> تاريخ الميلاد</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">date_range</i>
                                </span>
                                <div class="form-line">
                                    <input type="date" asp-for="Birthday" class="form-control date" placeholder="Ex: 30/07/2025">
                                    <span asp-validation-for="Birthday" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="NationalityId"> الجنسية</label>

                            <div class="input-group">
                                <select class="form-control" asp-for="NationalityId" asp-items="(SelectList) ViewBag.NationalityList">
                                    <option>اختر الجنسية</option>

                                </select>
                                <span asp-validation-for="NationalityId" class="text-danger"></span>
                            </div>

                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-md-4">
                            <label asp-for="Gender">الجنس :</label>
                            <div class="input-group">
                                <select class="form-control show-tick" asp-for="Gender">
                                    <option>ذكر </option>
                                    <option>انثى</option>
                                </select>
                                <div class="form-line">
                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                       @*  <div class="demo-radio-button">
                            <label>الجنس:</label>
                            <br />
                            <input type="radio" name="Gender" value="Male" @(Model.Gender == "Male" ? "checked" : "") id="gender_male" />
                            <label for="gender_male">ذكر</label>

                            <input type="radio" name="Gender" value="Female" @(Model.Gender == "Female" ? "checked" : "") id="gender_female" />
                            <label for="gender_female">أنثى</label>

                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div> *@

                        <div class="col-md-4">
                            <label asp-for="Religion"> الديانة</label>
                            <div class="input-group">
                                <span class="input-group-addon">

                                </span>
                                <div class="form-line">

                                    <input type="text" asp-for="Religion" class="form-control" placeholder="ادخل الديانة">
                                    <span asp-validation-for="Religion" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label asp-for="Code">الرقم الوطني او جواز السفر</label>
                            <div class="input-group">
                                <div class="form-line">
                                    <input type="text" asp-for="Code" class="form-control" placeholder="ادخل الرقم الوطني او جواز السفر">
                                    <span asp-validation-for="Code" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-md-4">
                            <label asp-for="MotherName"> اسم الام</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">person</i>
                                </span>
                                <div class="form-line">
                                    <input type="text" asp-for="MotherName" class="form-control" placeholder="ادخل اسم الام">
                                    <span asp-validation-for="MotherName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="MotherBirthday"> تاريخ الميلاد</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">date_range</i>
                                </span>
                                <div class="form-line">
                                    <input type="date" asp-for="MotherBirthday" class="form-control date" placeholder="Ex: 30/07/2025">
                                    <span asp-validation-for="MotherBirthday" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="MotherNationality"> الجنسية</label>
                            <div class="input-group">
                                <div class="form-line">
                                    <input type="text" asp-for="MotherNationality" class="form-control" placeholder="ادخل الجنسية">
                                    <span asp-validation-for="MotherNationality" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-md-4">
                            <label asp-for="MotherJob">المهنة</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons"> business_center</i>
                                </span>
                                <div class="form-line">
                                    <input type="text" asp-for="MotherJob" class="form-control" placeholder="ادخل المهنة">

                                  
                                    <span asp-validation-for="MotherJob" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="MotherEducation"> المستوى التعليمي</label>
                            <div class="input-group">
                                <div class="form-line">
                                    <input type="text" asp-for="MotherEducation" class="form-control" placeholder="ادخل المستوى التعليمي">
                                    <span asp-validation-for="MotherEducation" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="MotherPhone"> رقم الهاتف</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">phone_iphone</i>
                                </span>
                                <div class="form-line">
                                    <input type="number" asp-for="MotherPhone" class="form-control" placeholder="ادخل رقم الهاتف">
                                    <span asp-validation-for="MotherPhone" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-md-4">
                            <label asp-for="MotherWorkPlace">مكان العمل</label>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">apartment</i>
                                </span>

                                <div class="form-line">
                                    <input type="text" asp-for="MotherWorkPlace" class="form-control" placeholder="ادخل مكان العمل">
                                    <span asp-validation-for="MotherWorkPlace" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row clearfix">
                        <input type="submit" value="حفظ" class="btn btn-success m-t-15 waves-effect" />
                        <a asp-controller="Student" asp-action="Index" class="btn btn-danger m-t-15 waves-effect"> رجوع </a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</form>

@section JqueryValidation
{
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<script src="~/plugins/jquery-validation/jquery.validate.js"></script>
<script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>