@model Tasheel.BLL.Models.RegistrationVM
@{
   Layout=null;

}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Registration| Sign Up | School System</title>
    <!-- Favicon-->
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="~/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="~/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="~/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="~/css/style.css" rel="stylesheet">
</head>

<body class="signup-page">
    <div class="signup-box">
        <div class="logo">
            <h1>انشاء حساب</h1>
        </div>
        <div class="card">
            <div class="body">
                <form asp-controller="Account" asp-action="Register">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="msg">تسجيل مستخدم جديد</div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" asp-for="UserName" placeholder="اسم المستخدم" required autofocus>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                        <div class="form-line">
                            <input type="email" class="form-control" asp-for=" Email" placeholder="البريد الالكتروني" required>
                        </div>


                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" asp-for="Password" minlength="5" placeholder="كلمة المرور" required>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" asp-for="ConfirmPassword" minlength="5" placeholder="مطابقة كلمة المرور" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" asp-for="IsAgree" class="filled-in chk-col-pink">
                        <label asp-for="IsAgree">اوافق <a href="javascript:void(0);">شروط الاستخدام</a>.</label>
                    </div>
  
                    <input type="submit" class="btn btn-block btn-lg bg-pink waves-effect" value="إنشاء حساب"/>

                    <div class="m-t-25 m-b--5 align-center">
                        <a asp-controller="Account" asp-action="Login">لديك عضوية بالفعل?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Jquery Core Js -->
    <script src="~/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="~/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="~/plugins/node-waves/waves.js"></script>

    <!-- Validation Plugin Js -->
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>

    <!-- Custom Js -->
    <script src="~/js/admin.js"></script>
    <script src="~/js/pages/examples/sign-up.js"></script>
</body>

</html>
