
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="zoom-out">
            <h1 dir="rtl">مرحبا بك في تسهيل</h1>
            <p style="font-size: 22px" dir="rtl">نحن هنا لنجعل إدارة البيانات الاجتماعية للطلاب أمراً بسيطاً وفعالاً. في تسهيل، ندرك التحديات التي تواجهها المدارس وأولياء الأمور في تتبع وإدارة المعلومات الحساسة المتعلقة بالبطاقة الاجتماعية للطالب. مهمتنا هي توفير منصة آمنة وسهلة الاستخدام تبسط هذه العملية، مما يوفر لك الوقت والجهد</p>
            <div class="d-flex justify-content-center">
                <a class="btn btn-danger btn-lg mx-2" style="border-radius: 15px;" asp-controller="Account" asp-action="Login">تسجيل دخول</a>
                <a class="btn btn-danger btn-lg mx-2" style="border-radius: 15px;" asp-controller="Account" asp-action="Register">إنشاء حساب</a>
            </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="200">
            <img src="~/images/hero.png" class="img-fluid rounded" alt="صورة الموقع" />
        </div>
    </div>
</div>



